BaselineImplementation.class Database.class DatabaseOptimised.class EvaluationManager.class EvaluationManagerOptimised.class NotificationService.class NotificationServiceOptimised.class OptimisedImplementation.class Researcher.class ResearcherOptimised.class Reviewer.class ReviewerManager.class ReviewerManagerOptimised.class ReviewerOptimised.class SubmissionController.class SubmissionDecisionEngine.class SubmissionService.class UI.class Validator.class ValidatorOptimised.class
